html{
    font-size: 16px;
    font-family: "Staatliches";
    margin: 0;
    background-color: #364042;
}

.pic{
    background-image: url("../Images/pic6Port.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header{
   display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav{
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.nav a{
    font-size: 3.5rem;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    -webkit-transition: all 0.2s ease-in-out;
    color: beige;
}

.nav a:hover{
    color: orange;
    font-size: 4rem;
}

.nav .dot{
    color: red;
    width: 6px;
    height: 6px;
    background: orange;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.nav a:nth-child(1):hover ~ .dot {
    -webkit-transform: translateY(-150px);
    transform: translateY(-150px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.nav a:nth-child(2):hover ~ .dot {
    -webkit-transform: translateY(-80px);
    transform: translateY(-80px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.nav a:nth-child(3):hover ~ .dot {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.name{
    font-size: 2.45rem;
    font-family: "Indie Flower";
    color: beige;
    padding-left: 2rem;
}

#TU{
    color: orange;
}
.title{
    font-size: 2.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 12.25rem;
    padding-left: 52rem;
}

.title h1{
    padding-top: 12.5rem;
    color: beige;
}

.aboutMe{
    font-size: 2rem;
    color: beige;
    display: block;
    background-color: #364042;
    border-radius: 5px;
    text-align: center;
}
.aboutMe h2{
    text-decoration: underline;
    margin-left: 5px;
}

#textAbout{
    margin-left: 5px;
}

.about-title, .work-title{
    font-size: 3rem;
    color: orange;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15rem;
    color: beige;
    padding-left: 15rem;
    padding-right: 15rem;
}

.work-title{
    padding-top: 2rem;
    height: 1rem;
}

.work-gif{
    width: 75rem;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.work-title a{
    text-decoration: none;
    color: orange;
}
.work-title a:hover{
    color: darkred;
}

.work{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2.5rem;
    align-items: center;
    color: beige;
}

#change{
    transition: transform 0.5s;
    display: inline-block;
    width: 200px;
    text-align: center;
}
.out{
    transform: scale(0);
}
.contact-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2.5rem;
    color: orange;
}
.contact{
    display: block;
    text-align: center;

    font-size: 2rem;
    color: beige;
    overflow: hidden;
}
#linkedin-logo img{
    width: 200px;
}
#mail-logo img{
    width: 240px;
}
#heart-logo{
    color: orangered;
}
footer{
    display: flex;
    justify-content: space-around;
    color: beige;
}




